* {
    padding: 0px;
    margin: 0px;
}

nav {
    margin: 20px;
    text-align: center;
    background-color: lightgrey;
}

nav ul {
    text-align: right;
    padding: 20px;
}
nav ul li {
    display: inline-block;
    text-align: right;
    list-style-type: none;
    background-color: grey;
    margin: 10px 5px 10px 5px;
}

nav > img {
   height: 100px;
   
}

main > img {
    height:200px;
    width: 150px;
    margin: 20px;
    border: 1px solid rgba(153, 152, 152, 0.786);
    padding: 10px;
    border-radius: 75px;
}