@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #99C1B9, #6d9ee4  );
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #405c83;
}

h1 {
    color: #E55812;
    text-align: center;
    text-shadow: 1px 1px 0px #8b360c ;
}

h2 {
    color: #1B1F3B;
}

p {
    text-align: justify;
}